{% from "macros/publication-list.html" import publication_list_macro with context %}
{% macro publication_sections_macro(verbose_publication_data) %}
  {% for year, year_data in verbose_publication_data.items() %}
    <section>
      <h2>{{ year }}</h2>
      {% for venue_type, publications in year_data.items() %}
        <section>
          <h3>{{ venue_type }}</h3>
          <section>{{ publication_list_macro(publications) }}</section>
        </section>
      {% endfor %}
    </section>
  {% endfor %}
{% endmacro %}
