{% extends "base.html" %}
{% from "macros/publication-list.html" import publication_list_macro %}
{% block title_extra %} - {{ article.title }}, {{ article.position }}{% endblock %}
{% block content %}
  <article id="article-member" class="container">
    <h1>{{ article.title }}</h1>
    {% if article.image %}
      <section>
        <figure>
          <img src="/images/members/{{ article.image | default('default.jpg') }}" alt="{{ article.title }}" />
        </figure>
      </section>
    {% endif %}
    <section>
      <div>{{ article.position }}{% if article.membership == 'alumni' %} (Alumni){% endif %}</div>
      <div>{{ article.email }}</div>
    </section>
    <section>
      <div>{{ article.content }}</div>
    </section>
    {% if article.position != 'Professor' %}
      {% with publications = get_publications_by_member_title(article.title) %}
        {% if publications %}
          <section>
            <h2>Publications</h2>
            <div>{{ publication_list_macro(publications) }}</div>
          </section>
        {% endif %}
      {% endwith %}
    {% endif %}
  </article>
{% endblock %}
