<nav id="header">
  <a href="{{ SITEURL }}">{{ SITENAME }}</a>
  <ul>
    <li>
      <a class="{% if output_file == 'index.html' %}active{% endif %}" href="{{ SITEURL }}">Home</a>
    </li>
    <li>
      <a class="{% if output_file == 'about.html' %}active{% endif %}" href="{{ SITEURL }}/about.html">About</a>
    </li>
    <li>
      <a class="{% if output_file == 'members.html' %}active{% endif %}" href="{{ SITEURL }}/members.html">Members</a>
    </li>
    <li>
      <a class="{% if output_file == 'projects.html' %}active{% endif %}" href="{{ SITEURL }}/projects.html">Projects</a>
    </li>
    <li>
      <a class="{% if output_file == 'publications.html' %}active{% endif %}" href="{{ SITEURL }}/publications.html">Publications</a>
    </li>
    <li>
      <a class="{% if output_file == 'lectures.html' %}active{% endif %}" href="{{ SITEURL }}/lectures.html">Lectures</a>
    </li>
  </ul>
</nav>
